.vs
wowinstance/.vs
wowlauncher/.vs
/wowinstance/packages
/wowinstance/wowinstance/obj
/wowinstance/wowinstance/bin
/wowlauncher/packages
/wowlauncher/wowlauncher/obj
/wowlauncher/wowlauncher/bin
/wowinstance/artifacts
/wowlauncher/artifacts
/build.bat
/wowinstance/wowinstance/Properties/launchSettings.json
/wowlauncher/wowlauncher/Properties/launchSettings.json
/wowinstance/wowinstance/wowinstance.csproj.user
/wowlauncher/wowlauncher/wowlauncher.csproj.user
